<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:insert="layout/root :: head">
<meta charset="UTF-8">
<title>Hệ thống quản lý thông tin phòng thí nghiệm</title>
</head>
<body>
	<div th:insert="layout/root :: header"></div>
	<main>
		<div th:insert="layout/root :: nav"></div>
		<div class="right-content">
			<h3>Chào mừng đến mới hệ thống quản lý thông tin phòng thí
				nghiệm.</h3>

			<table class = "none-border-item">
				<tr>
					<td  class = "none-border-item"><span><b>Tin tức 1</b></span><br><img alt=""
						src="https://picsum.photos/200"></td>
					<td  class = "none-border-item"><span><b>Tin tức 1</b></span><br><img alt=""
						src="https://picsum.photos/200"></td>
				</tr>
				<tr>
					<td  class = "none-border-item"><span><b>Tin tức 1</b></span><br><img alt=""
						src="https://picsum.photos/200"></td>
					<td  class = "none-border-item"><span><b>Tin tức 1</b></span><br><img alt=""
						src="https://picsum.photos/200"></td>
				</tr>
				<tr>
					<td  class = "none-border-item"><span><b>Tin tức 1</b></span><br><img alt=""
						src="https://picsum.photos/200"></td>
					<td  class = "none-border-item"><span><b>Tin tức 1</b></span><br><img alt=""
						src="https://picsum.photos/200"></td>
				</tr>
			</table>
		</div>
	</main>
	<div th:insert="layout/root :: footer"></div>

</body>
</html>